/*  GENERAL */ 
a {
    text-decoration: none;
}
body {
    font-family: "comic sans ms", sans-serif;
    font-size: 12px;
    background-color: floralwhite;  
} 
#mainpage1 {
    width: 970px;
    height: 100%;
    background-color: white;
    margin : auto;
    display: block; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; 
    box-shadow: 1px 1px 2px black; 
} 
/*ACCUEIL*/
.blocacceuil {
    font-size: 20px;
    color: darksalmon;
    margin: 12px 0 7px 0;
    text-decoration: none;
}
.blocacceuil: hover {
    color: coral;
}
.blocacceuil : visited {
    color: darksalmon;
}
/* HEADER */
#imgheader {
    width: 100%;
    height: 51px;
    margin-bottom: 70px;
    text-align: center;
}
#header {
    position: fixed;
    background-image: url(../images/web/header.jpg);
    width: 100%;
    height: 51px;
}
span { 
    font-size: 22px;
    text-align: center;
    margin-bottom: 22px;
}
#textheader {
    font-size: 34px;
    text-align: center; 
    color: #F1605B;
    text-shadow: 1px 1px 1px grey 
}

/* CV */ 
.qualites {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height : 130px;
}
.listecomp {
    color: white;
    margin:10px;
    width:153px;
    background:#F1605B;
    height:100px;
    text-align:center;
    border-radius:100px;
    line-height: 90px;
    float: left;
}
.liste1 {
    background-color: #F1605B;
    list-style-image: url(../images/web/PUCE2.png);
    font-size: 24px;
    color: white;
    padding-top: 20px;
    text-align: center;
    font-variant: small-caps;
    margin-top: 30px; 
    border-top-style: dashed;
    border-top-color: crimson;
    border-left-style: dashed;
    border-left-color: darksalmon; 
    border-top-padding-top : 40px; 
    border-width: 3px;
    border-top-left-radius: 5px;
}
h1 {
    font-size: 18px;
    color: #F1605B;
    margin: 12px 0 7px 0;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 100px;
} 
.descr {
    font-style: italic;
    font-size: 15px;
    color: #EBC257;
    margin-right: 130px;
    margin-left: 130px;
} 
.liste2 {
    list-style-image: url(../images/web/PUCE.png);
    color: #8A654E;
    font-size: 17px;
    margin-right: 160px;
    margin-left: 160px;
}
.liste3 {
    list-style-image: url(../images/web/PUCE.png);
    color: #966359;
    font-size: 17px;
    margin-right: 160px;
    margin-left: 160px;
}
/* FORMULAIRE CONTACT */ 
#contact1 {
    text-align: center;
    color: #F1605B;
    font-variant: small-caps;
    font-size: 26px;
    font-family: "comic sans ms", sans-serif;
    font-weight: bold;
}
#contact {
    box-shadow: 5px 5px 5px grey;
}
form {
  position: relative;
  width  : 740px;
  height : 498px;
  margin : 0 auto;
  background: url(../images/web/background-contact.jpg);
}
h2 {
  position : absolute;
  left : 415px;
  top  : 175px;
  font-family : "comic sans ms", sans-serif;
  font-variant: small-caps;
    color: grey;
}
#from {
  position: absolute;
  left : 380px;
  top  : 245px;
  font-variant: small-caps;
  font-family: "comic sans ms", sans-serif;
  font-weight: bold;
  font-size: 16px;
    color: grey;
}
#reply {
  position: absolute;
  left : 380px;
  top  : 295px;
  font-variant: small-caps;
  font-family: "comic sans ms", sans-serif;
  font-weight: bold;
  font-size: 16px;
    color: grey;
}
#message {
  position: absolute;
  left : 20px;
  top  : 70px;
  font-variant: small-caps;
  font-family: "comic sans ms", sans-serif;
  font-weight: bold;
  font-size: 16px;
    color: grey;
}
input, textarea {
  font-family: "comic sans ms", sans-serif;
  border  : none;
  padding : 0 10px;
  margin  : 0;
  width   : 200px;
  background: none;
}
input:focus, textarea:focus {
  background : rgba(0,0,0,.1);
  border-radius: 5px;
  outline : none;
}
input:hover, textarea:hover {
  background : rgba(0,0,0,.1);
  border-radius: 5px;
  outline : none;
}
textarea {
  display : block;
  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 340px;
  height  : 360px;
  resize  : none;
  overflow: auto;
}
button {
  position : absolute;
  left : 440px;
  top : 360px;
  padding : 5px;
  font-family: "Bradley Hand ITC", "comic sans ms", sans-serif;
  border : 1px solid brown;
  border-radius: 5px;
  font-size: 14px;
}
button:hover,
button:focus {
  outline   : none;
  background-color: lightgrey;
  color: dimgrey
}
/*PRESENTATION*/
#titrepres {
    font-size: 24px;
    color: #F1605B;
    text-align: center;
    text-decoration: none;
}
#profil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px / 200px;
    border-style: dashed;
    border-width: 2px; 
    border-color: #F1605B;
    float: left;
    padding-left: 10px;
    padding-right: 10px; 
}
#presentation {
    text-align: center;
    font-family: "comic sans ms", sans-serif;
    font-size: 15px;
    color: grey;
    margin-right: 20px;
    margin-left: 100px;
}
/* NAVIGATION */
 li {
    list-style: none;
    font-size: 22px;
    font-family: "comic sans ms", sans-serif; 
 }
#menuflotant {
    position: fixed;
    bottom: 100px;
    right: 100px;
}
.icone {
    width: 50px;
    height: 50px;
}
#iconecv:hover {
    background-image:url(../images/web/cv2.png);
}
a:active {color: #F1605B}
/*REALISATIONS*/
.rea {
    border-style: dashed;
    border-width: 1px;
    width: 300px;
    height: 455px;
    background-color: #EBC257;
    margin: 4px;
    display: inline-block; 
    padding: 5px;
}
.descrrea {
    font-style: italic;
    font-size: 14px;
    color: #F1605B;
}
.listerea {
    list-style-image: url(../images/web/PUCE.png);
    color: white;
    font-size : 16px;
    line-height: 2; 
}
.titrerea {
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

/*SLIDER*/
#slideshow {
	position: relative;
	width: 940px;
	height: 390px;
	padding: 20px;
	margin: 25px auto;
	background: white;
	border: 2px 2px 2px 2px;
	box-shadow: 1px 1px 1px black ;
}
#slideshow .container {
	position:relative;
	width: 940px;
	height: 390px;
	overflow: hidden;
}
	
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 390px;
}

/* annulation des marges sur figure */
#slideshow figure {
	position: relative;
	display:inline-block;
	padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
}
/* styles de nos légendes */
#slideshow figcaption {
	position:absolute;
	left:0; right:0; bottom: 5px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #fff;
	background: rgba(255,255,255,0.7);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
}
/* fonction d'animation, n'oubliez pas de prefixer ! */
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
}
/* complétez le sélecteur : */
#slideshow .slider {
	/* ... avec la propriété animation */
	animation: slider 30s infinite;
}
#timeline {
	position: absolute;
	background: #999;
	bottom: 15px;
	left: 15px;
	height: 1px;
	background: rgb(214,98,13);
	background: rgba(214,98,13,.8);
	width: 0;
	/* fonction d'animation */
	animation: timeliner 30s infinite;
}
@keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 940px;	}
}
@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}
/* ajouter à l'élément : */
#slideshow figcaption {
	/* ... la propriété animation */
	animation: figcaptionner 30s infinite;
}

.dots_commands  {
	padding:0;
	margin:32px 0 0;
	text-align: center;
}
.dots_commands li {
	display: inline;
	padding:0; margin:0;
}
.dots_commands a {
	position: relative;
	display: inline-block;
	height:8px; width: 8px;
	margin: 0px 5px;
	text-indent: -9999px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;

}
/* quelques styles au focus */
.dots_commands a:focus { 
	outline: none;
	background: orange;
}
.dots_commands li:first-child a { z-index: 25; }
